/* Header */

header {
  .row {
    align-items: center;
    .row-left {
      margin-right: auto;
      a {
        color: $color-secondary;
        display: flex;
        align-items: center;
        .row-left__title {
          text-transform: uppercase;
        }
        svg {
          width: 15%;
          background-color: yellow;
          .cls-1 {
            fill: none;
          }
          .cls-2 {
            fill: $color-secondary;
          }
        }
        &:hover {
          text-decoration: none;
          color: $color-primary;
          svg {
            .cls-2 {
              fill: $color-primary;
            }
          }
        }
      }
    }
    .row-right {
      border: 1px solid red;
      a {
        display: flex;
        align-items: center;
        border: 1px solid blue;
        // img {
        // }
        .row-right__title {
          text-transform: capitalize;
        }
      }
    }
  }
}
