/* Header */

header {
  background-color: $bg-primary;
  font-size: 12px;
  .row {
    align-items: center;
    .row-left {
      margin-right: auto;
      a {
        color: $color-secondary;
        display: flex;
        align-items: center;
        .row-left__title {
          text-transform: uppercase;
        }
        svg {
          width: 60px;
          height: 60px;
          .cls-1 {
            fill: none;
          }
          .cls-2 {
            fill: $color-secondary;
          }
        }
        &:hover {
          text-decoration: none;
          color: $color-primary;
          svg {
            .cls-2 {
              fill: $color-primary;
            }
          }
        }
      }
    }
    .row-right {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1.2);
        svg {
          width: 30px;
          height: 30px;
          transform: initial;
        }
        .row-right__title {
          color: $color-primary;
          text-transform: capitalize;
        }
        &:hover {
          text-decoration: none;
          svg {
            .cls-3 {
              fill: $color-primary;
            }
          }
        }
      }
    }
  }
}
